@use "./variables" as vars;
@use "./globals";
@use "./icons";

// Components
@use "./MenuBar";
@use "./Settings";
@use "./BootScreen";
@use "./Finder";

body {
  margin: 0;
  background: #05070f;
  font-family: system-ui, -apple-system, sans-serif;
}