@use "./variables" as vars;
@use "./mixins" as *;
@use "./theme" as *;
@use "./globals";
@use "./icons";

// Components
@use "./Dock";
@use "./AppWindow/MenuBar";
@use "./ContextMenu";

// Settings_Components
@use "./_Settings/Settings";
@use "./_Settings/WiFiSettings";
@use "./_Settings/BluetoothSetting";

@use "./BootScreen";
@use "./Finder";
@use "./_ControlCenter";
@use "./AppWindow/AppWindows";
@use "./_AboutThisMac/ATM";

// APP
@use "./_NotesWindow/Notes";
@use "./_Musics/Music";
@use "./_Terminal/Terminal";
// Safari
@use "./_Safari/SafariBrowser";
@use "./_Safari/SafariPages";
@use "./_Safari/SurprisePages";

// Apply default dark theme
body {
  margin: 0;
  background: vars.$color-bg-body;
  font-family: system-ui, -apple-system, sans-serif;
  
  @include dark-theme;
}

// Light theme override
body.light-theme {
  background: vars.$light-color-bg-body;
  
  @include light-theme;
}

.resize-handle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  cursor: nwse-resize;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}